@if(!loading() && !error()){
<div id="mainContainer">
  
  <aside id="sidebar">
    <button (click)="changeTruck('FoodTruck')" class="buttonSidebar">FoodTruck</button>
    <button (click)="changeTruck('CoffeeTruck')" class="buttonSidebar">CoffeeTruck</button>
    <button (click)="changeTruck('AperitzTruck')" class="buttonSidebar">AperitzTruck</button>
  </aside>

  <div id="dashboardContent">
    @if(user(); as u){
      <div id="bienvenueDiv">
        <p>Bienvenue {{ u.userName }} 🍔</p>
        <p-button styleClass="prime-slider-override" (onClick)="showModalNewProduct(products)" >Ajouter un nouveau produit</p-button>
      </div>
    }

    <p-table [value]="filteredProducts()" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Nom</th>
          <th>Quantité</th>   
          <th>Type</th>
          <th>Ajouter</th>
          <th>Supprimer</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.name }}</td>
          <td>
            @if(product.quantity < 10) {
              <span style="color: #ef4444; font-weight: bold;">
                {{ product.quantity }} <i class="pi pi-exclamation-triangle"></i>
              </span>
            } @else {
              {{ product.quantity }}
            }
          </td>
          <td>{{ product.type }}</td>
          <td>
            <p-button (onClick)="showModalAdd(product)" label="Ajouter" severity="success" />
          </td>
          <td><p-button (onClick)="showModalDelete(product)" label="Supprimer" severity="danger" /></td>
        </tr>
      </ng-template>
    </p-table>
  </div> 
  <p-dialog 
  header="Ajout du produit" 
  [(visible)]="visible" 
  [modal]="true" 
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '25rem' }">
  
  <div class="flex flex-column gap-3">
    <span style="display: block; margin-bottom: 1rem; color: gray;">
      Quelle quantité souhaitez-vous ajouter ?
    </span>
    

    <div>
      <label for="quantite" style="display: block; font-weight: bold; margin-bottom: 0.5rem;">
        Quantité:
      </label>
      <input [value]="selectedProduct?.quantity" type="number" pInputText id="quantite" style="width: 100%" autocomplete="off" />
    </div>

  </div>

  <ng-template pTemplate="footer">
    <p-button label="Annuler" [text]="true" severity="secondary" (onClick)="visible = false" />
    <p-button label="Ajouter" (onClick)="visible = false" />
  </ng-template>
</p-dialog>
  <p-dialog 
  header="Suppression du produit" 
  [(visible)]="visibleDeleteProduct" 
  [modal]="true" 
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '25rem' }">
  
  <div class="flex flex-column gap-3">
    <span style="display: block; margin-bottom: 1rem; color: gray;">
      Quelle quantité souhaitez-vous supprimer ?
    </span>
    

    <div>
      <label for="quantite" style="display: block; font-weight: bold; margin-bottom: 0.5rem;">
        Quantité:
      </label>
      <input [value]="selectedProduct?.quantity" type="number" pInputText id="quantite" style="width: 100%" autocomplete="off" />
    </div>

  </div>

  <ng-template pTemplate="footer">
    <p-button label="Annuler" [text]="true" severity="secondary" (onClick)="visible = false" />
    <p-button label="Supprimer" (onClick)="visible = false" severity="danger"/>
  </ng-template>
</p-dialog>
  <p-dialog 
  header="Ajout du nouveau produit" 
  [(visible)]="visibleNewProduct" 
  [modal]="true" 
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '25rem' }">
  
  <div class="flex flex-column gap-3">
    <span style="display: block; margin-bottom: 1rem; color: gray;">
      Ajout du nouveau produit
    </span>
    

    <div>
      <label for="name" style="display: block; font-weight: bold; margin-bottom: 0.5rem;">
        Nom du produit
      </label>
      <input [value]="selectedProduct?.name" type="text" pInputText id="name" style="width: 100%" autocomplete="off" />
    </div>
    <div>
      <label for="quantite" style="display: block; font-weight: bold; margin-bottom: 0.5rem;">
        Quantité:
      </label>
      <input [value]="selectedProduct?.quantity" type="number" pInputText id="quantite" style="width: 100%" autocomplete="off" />
    </div>

  </div>

  <ng-template pTemplate="footer">
    <p-button label="Annuler" [text]="true" severity="secondary" (onClick)="visible = false" />
    <p-button label="Sauvegarder" (onClick)="visible = false" />
  </ng-template>
</p-dialog>

</div> 
}