@if(!loading() && !error()){
<div id="mainContainer">
  
  <aside id="sidebar">
    <button (click)="changeTruck('FoodTruck')" class="buttonSidebar">FoodTruck</button>
    <button (click)="changeTruck('CoffeeTruck')" class="buttonSidebar">CoffeeTruck</button>
    <button (click)="changeTruck('AperitzTruck')" class="buttonSidebar">AperitzTruck</button>
  </aside>

  <div id="dashboardContent">
    @if(user(); as u){
      <p id="bienvenueUsername">Bienvenue {{ u.userName }} 🍔</p>
    }

    <p-table [value]="filteredProducts()" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Type</th>
          <th>Ajouter</th>
          <th>Supprimer</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.name }}</td>
          <td>
            @if(product.quantity < 10) {
              <span style="color: #ef4444; font-weight: bold;">
                {{ product.quantity }} <i class="pi pi-exclamation-triangle"></i>
              </span>
            } @else {
              {{ product.quantity }}
            }
          </td>
          <td>{{ product.type }}</td>
          <td>
            <p-button (onClick)="showModal()" label="Ajouter" severity="success" />
          </td>
          <td><p-button label="Supprimer" severity="danger" /></td>
        </tr>
      </ng-template>
    </p-table>
  </div> 
  <!-- <p-dialog 
    header="Mise à jour des informations" 
    [(visible)]="visible" 
    [modal]="true" 
    [style]="{ width: '25rem' }"
    appendTo="body">
    
    <ng-template pTemplate="header">
        <span class="font-bold">Amy Elsner</span>
    </ng-template>

    <div class="flex flex-column gap-3">
      <span style="display: block; margin-bottom: 1rem; color: gray;">Update your information.</span>
      
      <div style="margin-bottom: 1rem;">
          <label for="username" style="display: block; font-weight: bold; margin-bottom: 0.5rem;">Username</label>
          <input pInputText id="username" style="width: 100%" autocomplete="off" />
      </div>

      <div>
          <label for="email" style="display: block; font-weight: bold; margin-bottom: 0.5rem;">Email</label>
          <input pInputText id="email" style="width: 100%" autocomplete="off" />
      </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="visible = false" />
        <p-button label="Save" severity="primary" (onClick)="visible = false" />
    </ng-template>
  </p-dialog> -->

</div> 
}