<nav id="navBar">

  <div id="container-logo">
    <a [routerLink]="user() ? '/home' : '/login' ">
      <img id="logo" src="logoFoodTruck.jpg" alt="Logo">
    </a>

    <div id="deconnexionButton">

      @if(user()){
        <p-toolbar id="custom-toolbar">
          <ng-template #center>
        <p-iconfield iconPosition="left">
          <p-inputicon class="pi pi-search" />
          <input (input)="searchProduct($event)" pInputText placeholder="Recherche">
        </p-iconfield>
      </ng-template>
          <ng-template #end>
        <button id="logout-btn" (click)="onLogout()">Se déconnecter</button>
      </ng-template>
        </p-toolbar>
      }
    </div>
  </div>

  <div class="spacer"></div>
</nav>
