<nav id="navBar">

  
  @if(user()){
    <div id="container-logo">
      <a [routerLink]="user() ? '/home' : '/login' ">
        <img id="logo" src="logoFoodTruck.jpg" alt="Logo">
      </a>
    </div>
    <p-toolbar id="custom-toolbar">
      <ng-template #center>
        <p-iconfield iconPosition="left">
          <p-inputicon class="pi pi-search" />
          <input (input)="searchProduct($event)" pInputText placeholder="Recherche">
        </p-iconfield>
      </ng-template>
    </p-toolbar>

    <div id="deconnexionButton">
      <button id="logout-btn" (click)="onLogout()">Se déconnecter</button>
      <button pButton 
              [icon]="isDark ? 'pi pi-sun' : 'pi pi-moon'" 
              (click)="toggleDarkMode()">
      </button>
    </div>
  }

</nav>