@if(!isLoading()){

<div id="displayForm"> <div id="formDisplay"> <form action="" id="formCreateAccount">
  <div id="formNav">
    <h1>Connexion</h1>
  </div>
  <div id="inputFormCreateAccount">
    <label for="user">Nom d'utilisateur</label>
    <input type="text" id="user">
    <label for="password">Mot de passe</label>
    <input type="password" id="password">
    <button type="submit" id="buttonNavCreateAcc" style="margin-top: 20px;">Se connecter</button>
  </div>
</form>

  <form [formGroup]="formCreateAccount" id="formSignIn" action="" (ngSubmit)="onSubmit()">
    <div id="formNav">
      <h1>Créer un compte</h1>
    </div>
    <div id="inputFormSignIn">
      <label for="user2">Nom d'utilisateur:</label>
      <input formControlName="username" type="text" id="user2">
      <label for="">E-mail:</label>
      <input formControlName="email" type="email">
      <label for="pass2">Mot de passe:</label>
        @if (formCreateAccount.controls.password.invalid) {
          <li class="error-messages">* Votre mot de passe doit faire au moins 8 caractères et contenir un caractère spécial.</li>
        }
      <input formControlName="password" type="password" id="pass2">
      <label for="">Confirmer le mot de passe:</label>
        @if (formCreateAccount.value.password  != formCreateAccount.value.password_confirmation) {
          <li class="error-messages">* Les mots de passe ne correspondent pas.</li>
        }
      <input formControlName="password_confirmation" type="password">
      <!--[disabled invalid] = permet de d'afficher une erreur claire au user en cas de mauvaise validation des champs-->
      <button type="submit" [disabled]="formCreateAccount.invalid" id="buttonNavSignIn">S'inscrire</button>
    </div>
  </form>
</div>
</div>
}
  @if(isLoading()){
    <div id="cardLoader">
      <p-progressSpinner></p-progressSpinner>
      <p id="p-createAccount">Création du compte...</p>
    </div>
  }
