  <div id="backgroundImage"></div>
    @if(!isLoading()){
      <div id="displayForm">
        <div id="formDisplay">
          <form [formGroup]="formSignIn" action="" id="formCreateAccount" (ngSubmit)="onSubmit()">
            <div id="formNav">
              <h1>Connexion</h1>
            </div>
            <div id="inputFormCreateAccount">
              <label for="user">Nom d'utilisateur</label>
              <input placeholder="Entrez votre nom d'utilisateur" formControlName="username" type="text" id="user">
              <label for="password">Mot de passe</label>
              <input placeholder="Entrez votre mot de passe" formControlName="password" type="password" id="password">
              <button type="submit" id="buttonNavCreateAcc" style="margin-top: 20px;">Se connecter</button>
              <button type="button" routerLink="/register" id="buttonNavSignIn" style="margin-top: 10px;">Créer un compte</button>
            </div>
          </form>
        </div>
      </div>
    }
    
    @if(isLoading()){
        <div id="cardLoader">
        <!-- <p id="p-createAccount">
          {{loadingMessage()}}
        </p> -->
        <div class="spinner"></div>
      </div>
    }